@using Agriculture.Entities.Concrete
@model List<Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Takım</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Başlık</th>
        <th>Resim</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>Web Site</th>
        <th>Twitter</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeamId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Title</td>
            <td>@item.ImageUrl</td>
            <td>@item.FacebookUrl</td>
            <td>@item.InstagramUrl</td>
            <td>@item.WebsiteUrl</td>
            <td>@item.TwitterUrl</td>
        </tr>
    }
</table>
<a href="/Default/AddTeam/" class="btn btn-outline-primary">Personel Ekle</a>

