@model Agriculture.Entities.Concrete.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Üye Paneli</h4>
            <p class="card-description">
                Ekibe yeni eklenecek üye bilgilerini giriniz...
            </p>
            <form method="post" class="forms-sample">
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Adı")
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="FirstName" class="form-control" id="exampleInputUsername2" placeholder="Ad">
                    </div>
                </div><div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Soyadı")
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="LastName" class="form-control" id="exampleInputUsername2" placeholder="Soyad">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Başlık - Görev")
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Title" class="form-control" id="exampleInputUsername2" placeholder="Görevi">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Resim")
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="ImageUrl" class="form-control" id="exampleInputUsername2" placeholder="Resim Yolu">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Facebook")
                        <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="FacebookUrl" class="form-control" id="exampleInputUsername2" placeholder="Facebook">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Instagram")
                        <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="InstagramUrl" class="form-control" id="exampleInputUsername2" placeholder="Instagram">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Web Sitesi")
                        <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="WebsiteUrl" class="form-control" id="exampleInputUsername2" placeholder="Web Sitesi">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        @Html.Label("Twitter")
                        <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" asp-for="TwitterUrl" class="form-control" id="exampleInputUsername2" placeholder="Twitter">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

